
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: 'IBMPlexSans', sans-serif;
    font-size: 20px;
    color: #242424;
    box-sizing: border-box;
    text-decoration: none;
}
.header {
    font-size: 48px;
    font-weight: 500;
    color: #A3CC40;
}
.container {
    padding: 0 15px;
    max-width: 850px;
    margin: 0 auto;
}
.container_wide {
    max-width: 1124px;
}





