.block08__col2 {
    padding: 0 2rem 2rem 0;
    flex: 0 0 42%;
    display: inline-block;
    overflow: hidden;
}

.block08__header {
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.3;
    text-align: center;
    margin: 1.25rem;
}

.block08__form-action {
    position: relative;
    margin-left: 10px;
}

.block08__input1 {
    margin-bottom: 1.9rem;
    position: relative;
    background: #dedede;
    border-radius: 0.25rem;
    transition: 0.2s;
}

.input1__label {
    position: absolute;
    font-size: 0.9rem;
    color: #A1A1A1;
    top: 0.5rem;
    left: 15px;
    transition: 0.2s;
    z-index: 0;
}

.input1__input {
    font-size: 0.75rem;
    color: #333333;
    position: relative;
    padding: 0.6rem 0.75rem;
    z-index: 1;
    display: block;
    width: 100%;
    background: transparent;
    border: 0;
    border-radius: 0.25rem;
}

.input1__error-msg {
    font-size: 0.55rem;
    position: absolute;
    bottom: 0.1rem;
    left: 0.75rem;
    color: #dc3c10;
}

.block08__input1:hover,
.block08__input1_focused {
    background: #ffffff;
    box-shadow: 0 0 0 0.25rem rgba(170, 243, 77, 0.52);

}

.block08__input1_focused .input1__label {
    top: -0.5rem;
    color: #333333;
    background: #fff;
    padding: 0 0.25rem;
    left: 0.5rem;
}

.block08__input1_error {
    box-shadow: 0 0 0 0.25rem rgb(220 60 16 / 50%);
}

.input1-select {
    font-size: 0.75rem;
    margin-bottom: 1.5rem;
    color: #a1a1a1;
    padding: 0.6rem 0.75rem;
    border-radius: 0.25rem;
    border: 0;
    width: 100%;
    transition: 0.2s;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url("/image/arrow.svg") 96% center / 5% no-repeat #dedede;
}

.block08__reviewform {
    position: relative;
    background: #dedede;
    border-radius: 0.25rem;
    margin-bottom: 1.5rem;
    transition: 0.2s;
}

.block08__reviewform_input1 {
    height: 5rem;
    resize: none;
    font-size: 0.75rem;
    color: #a1a1a1;
    position: relative;
    padding: 0.6rem 0.75rem;
    z-index: 1;
    display: block;
    width: 100%;
    background: transparent;
    border: 0;
    border-radius: 0.25rem;
}


.block08__checkbox {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: #333333;
    font-size: 0.5rem;
    margin-bottom: 1.5rem;
}

.block08__checkbox input {
    display: none;
}

.block08__checkbox-dot {
    border: 1px solid rgb(170, 243, 77);
    border-radius: 0.2rem;
    width: 0.8rem;
    height: 0.8rem;
    flex: none;
    margin-right: 0.3rem;
}

.block08__checkbox input:checked + .block08__checkbox-dot {
    background: url("/image/ico_check.svg") no-repeat center / 0.4rem 0.3rem,rgb(170, 243, 77);
}

.block08__button-submit {
    display: inline-block;
    background: #90d23d;
    color: #ffffff;
    padding: 0.4rem 1.7rem;
    border-radius: 0.3rem;
    font-size: 0.7rem;
    transition: 0.2s;
    border: 1px solid #90d23d;
    cursor: pointer;
}

.button2_big {
    width: 100%;
    font-size: 1rem;
    padding: 0.75rem;
}

.button2:hover {
    color: #90d23d;
    background: #fff;
    border: 1px solid rgba(163, 204, 64, 0.62);
    box-shadow: 0 2px 0.45rem rgba(144, 210, 61, 0.3);
}


